<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>KGL</title>
  <link href="/static/css/vue/app.e5e41d63ab5ac9fd214513197f136f1d.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/static/img/vue/favicon.ico">
 </head>
 <body>
  <div id="app"></div>
  <script type="text/javascript" src="/static/js/vue/manifest.2ae2e69a05c33dfc65f8.js"></script>
  <script type="text/javascript" src="/static/js/vue/vendor.a9035ba0c447bb68b8be.js"></script>
  <script type="text/javascript" src="/static/js/vue/app.88cbeac3a90ad080b3d5.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=sNrlaLLcdSEHauriOPWebpNrkSNPDkKC">//v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"</script>
 </body>
</html>